
EjercicioInterfaces/.vs/EjercicioInterfaces/v17/.suo
EjercicioInterfaces/.vs/EjercicioInterfaces/v17/DocumentLayout.json
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/ee6741af-7c7c-4c0c-9920-8df8effa6e5d.vsidx
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/890d5247-5030-4cd7-83d5-8062532a0d0e.vsidx
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/8f3a2f36-236f-4c39-a2fc-7f2fa2e03312.vsidx
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/a93c0fc8-2551-4d5c-ba41-0cbbdda82622.vsidx
EjercicioInterfaces/.vs/EjercicioInterfaces/DesignTimeBuild/.dtbcache.v2
EjercicioInterfaces/.vs/EjercicioInterfaces/v17/.futdcache.v2
