
EjercicioInterfaces/.vs/EjercicioInterfaces/v17/.suo
EjercicioInterfaces/.vs/EjercicioInterfaces/v17/DocumentLayout.json
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/ee6741af-7c7c-4c0c-9920-8df8effa6e5d.vsidx
EjercicioInterfaces/.vs/EjercicioInterfaces/FileContentIndex/890d5247-5030-4cd7-83d5-8062532a0d0e.vsidx
